* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: url("./backimage.jpg");
	background-size: cover;
}
.container {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 5px 30px;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.container__content {
	max-width: 900px;
	width: 100%;
}
.autocomplete {
	position: relative;
	display: inline-block;
	max-width: 800px;
	width: 100%;
}
#myInput {
	max-width: 800px;
	width: 100%;
	border-radius: 10px;
}
.inputs {
	margin-top: 100px;
}
input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
	max-width: 800px;
	width: 100%;
	border-radius: 10px;
}
input[type="text"] {
	background-color: #f1f1f1;
	width: 100%;
	max-width: 800px;
	width: 100%;
}
input[type="submit"] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}
p {
	font-size: 24px;
	font-weight: 900;
	color: #cdcdcd;
}
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}
.inputs {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: column;
}
input {
	max-width: 800px;
	width: 100%;
}

label {
	margin: 16px 0;
	font-size: 20px;
	font-weight: 900;
	color: #cdcdcd;
}
